<!DOCTYPE html>

<meta charset=“utf-8”>

<title>{{ page.title }}</title>
<meta name="description" content="{{ page.description }}">

<link rel='stylesheet' href='/styles/header.css'>
<link rel='stylesheet' href='/styles/content.css'>
<link rel='stylesheet' href='/styles/footer.css'>
<link rel='stylesheet' href='/styles/blog.css'>

<style>

@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700|Oxygen+Mono);

</style>

<link rel="icon" type="image/png" href="/images/favicon.png"/>
<link rel="apple-touch-icon" href="/images/favicon.png"/>

<meta name="viewport" content="initial-scale=1.0">

<body id="{{ page.section }}">

<header>
	<div class="header-container">
	<div id="logo">
		<a href="/" >
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 398.2 287.3" enable-background="new 0 0 398.2 287.3" xml:space="preserve">
				<path d="M336.2 249.1l-215.3 38.3L0 192.5L25.9 92L280.2 0l118 125.6L336.2 249.1z" class="logo"/>
			</svg>
			<span>Max <span>Duggan</span></span>
		</a>
	</div>
	<ul id="nav">
		<li><a href="/about" class="about">About</a>
			<ul>
				<li><a href="/about">Introduction</a></li>
				<li><a href="/about/#resume">Resume</a></li>
					<li><a href="/max-duggan-resume.pdf" target="blank">Download PDF &nbsp;<svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" viewBox="0 0 398.2 287.3" enable-background="new 0 0 398.2 287.3" xml:space="preserve"><polygon fill="#454545" points="199.1 154.7 336.1 59.6 280.2 0 80.4 72.3 "/><polygon fill="#454545" points="199.1 233.9 41 86.5 25.9 92 0 192.5 120.9 287.3 336.2 249.1 398.2 125.6 359.5 84.4 "/></svg></a></li>
				</ul>
			</li>
			<li><a href="/art" class="art">Art</a>
				<!--<ul>
				<li><a href="http://maxduggan.com/art">Printmaking</a></li>
				<li><a href="http://maxduggan.com/art#photography">Photography</a></li>
			</ul>-->
		</li>
		<li class="design"><a href="/" class="design">Design</a></li>
		<!--<li class="blog"><a href="/blog" class="blog">Blog</a></li>-->
	</ul>
	</div>
</header>
