
<div class="article txt-center">
  <h4><br><b>Check Out More</b></h4>
</div>

<div class="tentwentyfour container">

<div class="tile bluecollar">
	<a href="/play/bluecollar" class="tile_thumb" style="background-image: url(/play/bluecollar/bluecollar-thumb.jpg);">
		<span class="tile-overlay"></span>
		<span class="title">Bluecollar</span>
	</a>
</div>

<div class="tile halloween">
	<a href="/play/halloween" class="tile_thumb" style="background-image: url(/play/halloween/halloween-thumb.jpg);">
		<span class="tile-overlay"></span>
		<span class="title">Halloween on a stick</span>
	</a>
</div>

<div class="tile sideroad">
	<a href="/play/sideroad" class="tile_thumb" style="background-image: url(/play/sideroad/side-of-the-road-thumb.jpg);">
		<span class="tile-overlay"></span>
		<span class="title">At the Side of the Road</span>
	</a>
</div>

<div class="tile origin">
	<a href="/play/origin" class="tile_thumb" style="background-image: url(/play/origin/origin-thumb.jpg);">
		<span class="tile-overlay"></span>
		<span class="title">Origin</span>
	</a>
</div>

<div class="tile intimidated">
	<a href="/play/intimidated" class="tile_thumb" style="background-image: url(/play/intimidated/intimidated-thumb.jpg);">
		<span class="tile-overlay"></span>
		<span class="title">Intimidated</span>
	</a>
</div>

<div class="tile helloworld">
	<a href="/play/helloworld" class="tile_thumb" style="background-image: url(/play/helloworld/helloworld-thumb.jpg);">
		<span class="tile-overlay"></span>
		<span class="title">Hello World</span>
	</a>
</div>

<div class="tile pulling">
	<a href="/play/pulling" class="tile_thumb" style="background-image: url(/play/pulling/pulling-thumb.jpg);">
		<span class="tile-overlay"></span>
		<span class="title">Pulling</span>
	</a>
</div>

<div class="tile keep-trucking">
	<a href="/play/justkeeptruckin" class="tile_thumb" style="background-image: url(/play/justkeeptruckin/justkeeptruckin-thumb.jpg);">
		<span class="tile-overlay"></span>
		<span class="title">Just Keep Trucking</span>
	</a>
</div>

</div><!-- End Article Container -->
