{% include header.html %}
<main>
    <div class="article bookbox container">
        <p><a href="/books">All books</a></p>

        <div class="book-hero half" style="background-image: url({{page.heroimage}});">&nbsp;</div>
<div class="half">
        <h1>{{ page.title }}</h1>
        <p>By {{ page.author }}</p>
        <p>{{ page.genre }}</p>
        <p>{{ page.description }}</p>
        <p>Published: {{ page.published }}   |   Origin: {{ page.country }}   |   Origin: {{ page.country }}</p>
        <p>Pages: {{ page.pages }}   |   Time: {{ page.time }}   |   Felt: {{ page.relativelength }}</p>
        <p>Cried: {{ page.cried }}   |   Quality: {{ page.Well written }}   |   Hangups: {{ page.hangups }}</p>
        <p>I finished via {{ page.media }} on {{ page.date }} and I {{ page.reccomendation }}</p>
</div>
        <h2>Review</h2>
        <p>{{ page.reccomendation }}</p>
        {{ content }}
    </div>
</main>
{% include footer.html %}

