{% include header.html %}
<main>
    <div class="article bookbox container">
        <p><a href="/books">All books</a></p>

        <div class="book-hero half" style="background-image: url({{page.heroimage}});">&nbsp;</div>
<div class="half">
        <h1>{{ page.title }}</h1>
        <span>By {{ page.author }}</span>
        <span>{{ page.genre }}</span>
        <span>{{ page.description }}</span>
        <pspanPublished: {{ page.published }}   |   Origin: {{ page.country }}   |   Origin: {{ page.country }}</span>
        <span>Pages: {{ page.pages }}   |   Time: {{ page.time }}   |   Felt: {{ page.relativelength }}</span>
        <span>Cried: {{ page.cried }}   |   Quality: {{ page.Well written }}   |   Hangups: {{ page.hangups }}</span>
        <span>I finished via {{ page.media }} on {{ page.date }} and I {{ page.reccomendation }}</span>
</div>
        <h2>Review</h2>
        <p>{{ page.reccomendation }}</p>
        {{ content }}
    </div>
</main>
{% include footer.html %}

