{% include header.html %}
<main>
    <div class="article">
        <p><a href="/books">All books</a></p>
        <p>{{ page.genre }}</p>
        <h1>{{ page.title }}</h1>
        <p>By {{ page.author }}</p>
        <p>{{ page.description }}</p>
        <p>Published: {{ page.published }}   |   Origin: {{ page.country }}   |   Origin: {{ page.country }}</p>
        <p>Pages: {{ page.pages }}   |   Time: {{ page.time }}   |   Felt: {{ page.relativelength }}</p>
        <p>I finished via {{ page.media }} on {{ page.date }}</p>

        <div id="book-hero" style="background-image: url({{page.heroimage}});">&nbsp;</div>
        <h2>Review</h2>
        {{ content }}
    </div>
</main>
{% include footer.html %}


categories: [reccomended, long, cried, wellwritten]
genre:	[Novel, Fiction, Mystery, Magical Realism]
reccomendation: Would reccomend
cried: cried
quality: Well written
problems: no hangups


