{% include header.html %}
<main>
    <article>
        <h1 id="{{ page.title }}">{{ page.title}}</h1>
        <p>{{ page.description }}</p>
        {{ content }}
    </article>
</main>
<!-- M E N U -->
<input class="docMenu-check" id="docMenu-check" type="checkbox">
<label for="docMenu-check" class="docMenu">{{ page.title }}</label>
<div  class="docMenu-nav" style="background-color: white;">
    <ul id="toc-list" class="toc-list"></ul>        
</div><!-- End Menu -->
{% include footer.html %}
    


<script>
document.addEventListener('DOMContentLoaded', function() {
    // Select all headings with IDs
    const headings = document.querySelectorAll('h1[id], h2[id], h3[id], h4[id], h5[id], h6[id]');

    // Get the table of contents list element
    const tocList = document.getElementById('toc-list');

    // Create a list item for each heading
    headings.forEach(heading => {
        const listItem = document.createElement('li');
        const anchor = document.createElement('a');

        // Set the href attribute to the heading's ID
        anchor.href = `#${heading.id}`;
        anchor.textContent = heading.textContent;

        // Append the anchor to the list item
        listItem.appendChild(anchor);

        // Set the indentation based on the heading level
        listItem.style.marginLeft = `${(heading.tagName.charAt(1) - 1) * 20}px`;

        // Append the list item to the table of contents list
        tocList.appendChild(listItem);
    });
});
</script>


<script>/* this has to be after the table of content script to work */
    document.addEventListener('DOMContentLoaded', function() {
        const menuLinks = document.querySelectorAll('.docMenu-nav a');
    
        menuLinks.forEach(link => {
            link.addEventListener('click', function() {
                document.getElementById('docMenu-check').checked = false;
            });
        });
    });
    </script>