{% include header.html %}
<style>

    #myInput {
    width: 100%;
    border: none;
    }

    .tooltip {
        position: relative;
        display: inline-block;
    }

    .tooltip button {
    background-color: black;
    color: white;
    margin: 0;
    }
    
    .tooltip .tooltiptext {
      visibility: hidden;
      width: 140px;
      background-color: #555;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px;
      position: absolute;
      z-index: 1;
      bottom: 150%;
      left: 50%;
      margin-left: -75px;
      opacity: 0;
      transition: opacity 0.3s;
    }
    
    .tooltip .tooltiptext::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #555 transparent transparent transparent;
    }
    
    .tooltip:hover .tooltiptext {
      visibility: visible;
      opacity: 1;
    }
</style>
<main>
    <div class="article">
        <h1>{{ page.title }}</h1>
        <p>{{ page.description }}</p>
        <p>{{ page.cooktime }} | {{ page.servingsize }} | <a href="#grocerylist">Jump to Grocery List</a></p>
        <p><img src="{{page.heroimage}}" alt="{{page.description}}" title="{{page.title}}"></p>
        {{ content }}
        <button class="btn-outline" onclick="copyDivToClipboard()">
          Copy List
        </button>
        
        <script>
          function copyDivToClipboard() {
              var range = document.createRange();
              range.selectNode(document.getElementById("copygrocerylist"));
              window.getSelection().removeAllRanges(); // clear current selection
              window.getSelection().addRange(range); // to select text
              document.execCommand("copy");
              window.getSelection().removeAllRanges();// to deselect
          }
        </script>
    </div>
</main>
{% include footer.html %}