{% include header.html %}
<main>
    <div class="article">
        <h1>{{ page.title }}</h1>
        <p>{{ page.description }}</p>
        <p>{{ page.cooktime }} | {{ page.servingsize }} | <a onclick="copyDivToClipboard()">Copy Grocery List</a> | <a onclick="openFullscreen()">Fullscreen</a> | <a href="#grocerylist">Jump to Grocery List</a> | <a href="/recipes">View All Recipes</a></p>
        <div id="recipe-hero" style="background-image: url({{page.heroimage}});">&nbsp;</div>
        {{ content }}
        <p>{{ page.cooktime }} | {{ page.servingsize }} | <a class="btn-outline" onclick="copyDivToClipboard()">Copy Grocery List</a> | <a href="/recipes">View All Recipes</a></p>
        <script>
          function copyDivToClipboard() {
              var range = document.createRange();
              range.selectNode(document.getElementById("copygrocerylist"));
              window.getSelection().removeAllRanges(); // clear current selection
              window.getSelection().addRange(range); // to select text
              document.execCommand("copy");
              window.getSelection().removeAllRanges();// to deselect
          }
        </script>
          <script>
            /* Get the documentElement (<html>) to display the page in fullscreen */
            var elem = document.documentElement;
            
            /* View in fullscreen */
            function openFullscreen() {
              if (elem.requestFullscreen) {
                elem.requestFullscreen();
              } else if (elem.webkitRequestFullscreen) { /* Safari */
                elem.webkitRequestFullscreen();
              } else if (elem.msRequestFullscreen) { /* IE11 */
                elem.msRequestFullscreen();
              }
            }
            
            /* Close fullscreen */
            function closeFullscreen() {
              if (document.exitFullscreen) {
                document.exitFullscreen();
              } else if (document.webkitExitFullscreen) { /* Safari */
                document.webkitExitFullscreen();
              } else if (document.msExitFullscreen) { /* IE11 */
                document.msExitFullscreen();
              }
            }
            </script>
    </div>
</main>
{% include footer.html %}


