.footer-space {
	flex: 1 0 auto;
}
footer {
	width: 100%;
	height: 20px;
	margin: 0;
	padding: 20px 0;
	clear: both;
	color: var(--MediumDark);
	text-transform: uppercase;
	letter-spacing: .3em;
	background: #eee;
	flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
}
.footer-container {
	max-width: 1440px;
	width: 98%;
	margin: 0 auto;
}
.footer_l {
	float: left;
	width: 75%;
	padding: 0;
}
.footer_r {
	float: right;
	width: 25%;
	text-align: right;
}


.footer_r a {
	margin: 0 0 0 10px;
}

footer svg {
	max-width: 20px;
	max-height: 20px;
}
footer a:hover .footerIcon{
	fill:  var(--Secondary);
}

a .footerIcon {
	display: block;
	float: left;
	fill: #444;
	margin: 0 0 0 10px;
}

body.touch footer a:hover .footerIcon {
	fill: #444;
}

#back-top {
	width: 40px;
	position: fixed;
	right: 3%;
	top: 25%;
	display: block;
	filter: opacity(5%);
	-webkit-filter: opacity(25%);
}
#back-top svg {
-moz-filter: drop-shadow(0px 0px 8px rgba(0,0,0,.8));
-webkit-filter: drop-shadow(0px 0px 8px rgba(0,0,0,.8));
-o-filter: drop-shadow(0px 0px 8px rgba(0,0,0,.8));
-ms-filter: drop-shadow(0px 0px 8px rgba(0,0,0,.8));
filter: drop-shadow(0px 0px 8px rgba(0,0,0,.8));
}


@media (max-width: 980px) and (min-width: 601px) {

	footer {
		width: 94%;
	  height: 48px;
	  margin: 3px 0 0 0;
	  padding: 20px 3%;
	}
	.footer_l {
			float: none;
			width: 94%;
			text-align: center;
			margin: 0 auto;
			line-height: 20px;
	}
	.footer_r {
			float: none;
			width: 94%;
			text-align: center;
			margin: 10px auto;
	}
	.footer_r a {
			margin: 0 10px;
	}
	a .behance{
			margin: 0 10px 0 0;
	}
	a .linkedin{
			margin: 0 10px 0 0;
	}
	.non-mobile {
			display: none;
	}

}

@media (max-width: 600px) {

	footer {
		width: 94%;
		height: 70px;
		margin: 0;
		padding: 10px 3%;

	}

	.footer_l {
		float: none;
		width: 94%;
		text-align: center;
		margin: 0 auto;
		line-height: 20px;
	}
	.footer_r {
		float: none;
		width: 94%;
		text-align: center;
		margin: 10px auto;
	}

	.footer_r a {
		margin: 0 10px;
	}

	a .behance{
		margin: 0 10px 0 0;
	}

	a .linkedin{
		margin: 0 10px 0 0;
	}

	a .okiecollective{
		margin: 0 10px 0 0;
	}
	.non-mobile {
			display: none;
	}

}
