body {
  display: flex;
  height: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #fa9;
  font-family: sans-serif;
  /* min-height: 97vh; */
  /* margin: 3vh 0 0 0; */
}
.checklist {
  list-style: none;
  font-size: 1.5rem;
  color: white;
  width: 90%;
  margin: 0;
  padding: 0;
}
a {
  list-style: none;
  color: white;
  text-decoration: none;
}
.checklist label {
  cursor: pointer;
  display: flex;
  margin: 0 0 30px;
}
input[type=checkbox] {
  appearance: none;
    background-color: #fff;
    margin: 0 20px 0 0;
    width: 40px;
    height: 40px;
    border-radius: 20%;
      font: inherit;
      display: inline-grid;
      place-content: center;
      cursor: pointer;
      flex: 0 0 40px;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

input[type="checkbox"]:disabled {
  --form-control-color: var(--form-control-disabled);

  color: var(--form-control-disabled);
  cursor: not-allowed;
}
